<h1>Editing Message</h1>

<% raise CanCan::AccessDenied.new("Not authorized!",:read, Message) %>

<%= render 'form', message: @message %>

<%= link_to 'Show', @message %> |
<%= link_to 'Back', messages_path %>
