<% if current_user %>
<%= simple_form_for [commentable, @comment] do |f| %>
 <div class="field">
  <%= f.text_area :body, class: "form-control", required: true %>
 </div>
 <br>
 <%= f.submit "Editar Comentario", class: "btn btn-primary" %>
<% end %>
<% end %>
