<h1>Editar Comentario</h1>

<%= render 'form2', comment: @comment, commentable: @commentable %>

<div class="btn-group">
    <br>
    <br>
    <%= link_to 'Volver', :back, class: "btn btn-default" %>
</div>
