<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para cambiar tu contraseña. Puedes hacer esto a través del siguiente link:</p>

<p><%= link_to 'Cambiar Contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has solicitado esto, por favor ignora este correo.</p>
<p>Tu contraseña no cambiará hasta que accedas al link anterior y crees una nueva.</p>
